h1 {
    color: rgb(143, 160, 210);
    font-style: italic;
    align-items: center;
    text-align: center;
    margin: 2em 6em;
    padding: 1em;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}