<h1>TP 02</h1>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['']" routerLinkActive="active" ariaCurrentWhenActive="page">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/formClient']" routerLinkActive="active" ariaCurrentWhenActive="page">Form</a>
      <a class="nav-item nav-link" [routerLink]="['/catalogue']" routerLinkActive="active" ariaCurrentWhenActive="page">Catalogue</a>
      <a class="nav-item nav-link ml-auto"  [routerLink]="['/store']" routerLinkActive="active" ariaCurrentWhenActive="page">Store</a>

    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-item nav-link active" [routerLink]="['']" routerLinkActive="active" ariaCurrentWhenActive="page">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/formClient']" routerLinkActive="active" ariaCurrentWhenActive="page">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/catalogue']" routerLinkActive="active" ariaCurrentWhenActive="page">Catalogue</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="nav-item nav-link ml-auto"  [routerLink]="['/store']" routerLinkActive="active" ariaCurrentWhenActive="page">Store <img src="../../assets/img/free-store-icon-2017-thumb.png" alt="N/A" id="imgIconStore"/>  <label id="nbStore">{{ nb$ | async }}</label> </a>
    </span>
  </div>
</nav>

<router-outlet></router-outlet>
